body {
    background: url('../assets/images/breathe.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color:beige;
    font-family: "montserrat",sans-serif; 
    /* overflow: hidden; */
  }
  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: "montserrat",sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }

  .nav-links a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    display: block;
    font-family: "montserrat",sans-serif;
  }
  
  .timer {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding: 24px 32px;
    border-radius: 30px;
  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 150px;
    height: 50px;
    margin-left: 16px;
    border-radius: 35px;
    border: none;
    background: #8208e6;
    cursor: pointer;
  }
  
  .timer__btn--start {
    color: white;
    background: #F8AA36;
    
  }
  
  .timer__btn--stop {
    color: white;
    background: #ff0256;
    
  }

  .timer__btn--reset{
    background: #fff;
    color: black;
  }
#song{
  display: none;
}
 


.timer__part{
  font-size: 300px;
  font-weight: 400;
  font-family: "montserrat",sans-serif;
}

button{
  background-color: #00b84c;
  font-size: 20px;
  font-weight: 400;
  font-family: "montserrat",sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}