body {
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
  display: flex;
  justify-content: center;

  align-items: center;

  
}

.right {
  right: 0;
  background-color: #F3D0BA;
}

.left_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  
 
}

 img {
  position: relative;
  height: 100%;
}

/* set the font size of text in the input while typing to 15px */

input[type=text],input[type=password] {
  width: 250px;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background-color: #EDEDED;
  font-size: 15px;
  color: #5C5C5C;
  font-family: 'montserrat', sans-serif;
  height: 50px;
  

}

input[type=text]:focus, input[type=password]:focus {
  font-size: 15px;
  font-family: 'montserrat', sans-serif;
  outline: none;
  font-size: 12px;
  color: #5C5C5C;
}


h1 {
  font-size: 30px;
  font-weight: bold;
  color: #6C757D;
}

button{
  background-color: #DE8E16;
  border: none;
  width: 250px  ;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border-radius: 100px;
  font-family: 'montserrat', sans-serif;
  cursor: pointer;
  
}
button:hover{
  border:1px solid #1E1E1E;
}
p{
  font-size: 15px;
  color: #6C757D;
  font-family: 'montserrat', sans-serif;
}
a{
  font-size: 15px;
  color: #6C757D;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

i{
  position: relative;
  right: 30px;
}

label {
  font-size: 13px;
  color: #1E1E1E;
  font-weight: 500;
}

  .btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;

  }

  .btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 70px;
    height: 16px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #EDEDED;
    padding: 5px 0px;
  }

  .btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
  }

  .btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #EDEDED;
    color: #1e1e1e;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #fff;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
  }

  /*mode preview*/
  .dark-preview{
    background: #EDEDED;
  }


  .white-preview{
    background: #fff;
  }


  p.by a{
    text-decoration: none;
    color: #EDEDED;
  }

  .dark-preview p.by a{
    color: #EDEDED;
  }

  .white-preview p.by a{
    color: #EDEDED;
  }

  .sliderSwitches{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .sliderSwitches span{
    width: 10px;
  }

::placeholder{
  color: black;
  font-weight: 500;
  font-size: large;
}

.far{
  cursor: pointer;
}

input{
  color: black;
  font-size: medium;
}

select {
  width: 250px;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 100px;
  background-color: #EDEDED;
  font-size: 15px;
  color: #5C5C5C;
  font-family: 'montserrat', sans-serif;
  height: 50px;
}