*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.full_body{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.left_column{
    width: 30%;
    background-color: beige;
    height: 100vh;
    overflow: scroll;
    
}
.left_column::-webkit-scrollbar{
   display: none;
}
.recents{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    padding-left: 5%;
    font-weight: 500;
    font-size: 180%;
    background-color: #EDEDED;
}


.chats1{
    width: 100%;
    height: 30vh;
    background-color: #F3D0BA;
}
.id_date{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #818182;
    font-family: "Montserrat";
    font-size: 130%;
    font-weight: 1000 ;
}
.id, .date{
    padding-left: 5%;
    padding-right: 5%;
}
.id{
    width: 75%;
}

.some_chat_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
   
}
.some_chat{
    width: 90%;
   color: #818182;
   font-family: "Inter";
    font-size: 2vh;
    font-style: italic;
    font-weight: 400;
    line-height: 2em;
}
.right_column{
    width: 100%;
}
.chats1:hover{
    background-color: #ead5c9;
    cursor: pointer;
    border: 1px solid black;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    margin-right: 40px;
}
.name_header_wrapper{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
}
.name_header{
    padding-left: 5%;
    width: 50%;
    font-size: xx-large;
    color: #818182;
    font-family: "Montserrat";
}
.chat_screen_wrapper{
    height: 90vh;
    background-color: #EFEFEF;
    position: relative;
}
.type_text_wrapper{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F8F9FA;
    height: 5vh;
}
.type_text{
    width: 100%;
}
.textFeild {
    z-index: 4;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
  
  .textFeild input{
    width: 100vw;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 17px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
  }
  .textFeild button{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #ECECF6;
    color: #000000;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
  }
  .fa{
    
    font-size: small;
  }

  .menu_wrapper{
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
  }

.sticky_noete{
    width: 15%;
    height: 10%;
    float: inline-end;
    padding-right: 5%;
    cursor: pointer;
}
#notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 20px;
    z-index: 2;
    right: 5em;
}
.note {
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.text_area{
    resize: none;
    
}